@page
@model WebApplicationForum.Pages.Login.LogOffModel
@{
}

<h2>Your user has been disconnected!</h2>

<a class="btn btn-outline-secondary" asp-page="/Index">Back to public forum</a>
<a class="btn btn-outline-primary" asp-page="/Login/Index">Login</a>